services:
  brokerserver:
    container_name: broker_container
    image: "rabbitmq:3-management-alpine"
    hostname: "my-rabbit"
    volumes:
      - ./config/rabbitmq/default-definitions.conf:/etc/rabbitmq/conf.d/rabbitmq.conf:ro
      - ./config/rabbitmq/mqtt.conf:/etc/rabbitmq/conf.d/20-mqtt.conf:ro
      - ./config/rabbitmq/enabled-plugins:/etc/rabbitmq/enabled_plugins:ro
      - ./config/rabbitmq/definitions.json:/etc/rabbitmq/conf.d/definitions.json:ro
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "1883:1883"
      - "8080:15672"
    networks:
      - backend_space

  timeseriesserver:
    container_name: timeseries_container
    image: "influxdb:2.7.4"
    env_file:
      - ./config/docker/influxdb/docker-env-vars
    ports:
      - "8086:8086"
    networks:
      - backend_space
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8086/ping"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s

  chartingserver:
    container_name: charting_container
    image: "grafana/grafana:10.4.2"
    volumes:
      - ./volumes/grafana-storage:/var/lib/grafana
    ports:
      - "80:3000"
    depends_on:
      timeseriesserver:
        condition: service_healthy
    networks:
      - backend_space
  
  stopreasonsstorage:
    container_name: stop_reasons_storage_container
    image: "postgres:16.3"
    user: 1000:1000  # please check this in your linux config with $(id -u):$(id -g)
    env_file:
      - ./config/docker/postgres/docker-env-vars
    volumes:
      - ~/local-docker-volumes/pgdbs/stop-reasons-db:/var/lib/postgresql/data/pgdata
      - ./config/docker/postgres/init-scripts:/docker-entrypoint-initdb.d
      - /etc/passwd:/etc/passwd:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "stopreasons"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    networks:
      - backend_space
  
  stopreasonsserver:
    container_name: stop_reasons_container
    image: "pabloandresd/stopping-reasons-webapp:004"
    env_file:
      - ./config/docker/StopReasons/docker-env-vars
    ports:
      - "81:80"
    depends_on:
      brokerserver:
        condition: service_healthy
      stopreasonsstorage:
        condition: service_healthy
    volumes:
      - ./config/docker/StopReasons/config.json:/publish/appsettings.json:ro
    networks:
      - backend_space
  
  availability_connector:
    image: "broker-consumer:jaime-c8.0-001"
    volumes:
      - ./config/docker/BrokerConsumer/availability-settings.json:/publish/appsettings.json:ro
      - ./docs/example-of-device-info-file.csv:/var/device-metrics-processor/device-info.csv:ro
    depends_on:
      brokerserver:
        condition: service_healthy
      timeseriesserver:
        condition: service_healthy
    networks:
      - backend_space

  quality_connector:
    image: "pabloandresd/broker-consumer:002"
    volumes:
      - ./config/docker/BrokerConsumer/quality-settings.json:/publish/appsettings.json:ro
      - ./docs/example-of-device-info-file.csv:/var/device-metrics-processor/device-info.csv:ro
    depends_on:
      brokerserver:
        condition: service_healthy
      timeseriesserver:
        condition: service_healthy
    networks:
      - backend_space

networks:
  backend_space:
    name: backend_network
    driver: bridge