@page
@model IndexModel
@{
    ViewData["Title"] = "Razones de Paro";
}

@if (Model.DowntimePeriodsPerDevice.Any())
{
    <form method="post">
        <input name="numberOfDowntimePeriods" type="hidden" value=@Model.DowntimePeriodsPerDevice.Count() />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Dispositivo</th>
                    <th>Paro desde</th>
                    <th>Más reciente Paro</th>
                    <th>Razón de Paro</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var period in Model.DowntimePeriodsPerDevice)
            {
                <tr>
                    <td>@period.DeviceId</td>
                    <td>@period.InitiallyStoppedAt</td>
                    <td>@period.LastStopReportedAt</td>
                    <td><input type="text" name=@period.ReasonFieldName value="" /></td>
                </tr>
            }
            </tbody>
        </table>
        <br />
        <input class="btn btn-primary btn-lg" type="submit" value="Almacenar estas razones" />
    </form>
}
else
{
<div class="alert alert-success" role="alert">No hay razones pendientes a establecer para los Paros</div>
}
